
<form method="post" action="/checkout">
  <label for="">Purchase Item: <input type="text"  name="item"></label><br>
  <input type="submit" value="submit">
</form>

<form method="post" action="/checkout">
  Item<input type="text" name="item"></br>
  <input type="submit" value="submit">
</form>